@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top,  #6d94ca,  #a8c1ef);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    height: 100vh;
    padding: 8rem 1rem 1rem 1rem;
}

h1 {
    font-size: 3rem;
    color: #f9fcff;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

p + *,
* + p {
    margin-top: 0.5rem;
}

/* Tabby-container */
[data-theme="ux-ui"] {
    --border-color: #F9A826;
    --text-color: #bb7300;
}

[data-theme="web-design"] {
    --border-color: #F9A826;
    --text-color: #bb7300;
}

[data-theme="frontend"] {
    --border-color: #F9A826;
    --text-color: #bb7300;
}

.tabby-container {
    max-width: 60vmax;
    margin: 0 auto;
}

/* Tabs-container */
.tabs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
}

.tab {
    position: relative;
    margin-bottom: -0.3rem;
    padding: 1rem;
    background-color: #f9fcff;
    border: none;
    color: #444444;
    font-size: 1.2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.tab.is-selected {
    filter: none;
    background-color: #ffffff;
    /* border: 0.3rem solid var(--border-color); */
    color: #F9A826;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.tab.is-selected::after {
    position: absolute;
    z-index: 1;
    bottom: -0.3rem;
    left: 0;
    right: 0;
    display: block;
    content: "";
}

/* Tab-content */
.tab-contents {
    position: relative;
    box-shadow: 5px 15px 15px 3px rgba(0,0,0,0.15);
}

.tab-content {
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2.5em;
    /* border: 0.3rem solid var(--border-color); */
    background-color: #ffffff;
    overflow: auto;
}

.tab-content.is-selected {
    display: flex;
}

.tab-content p {
    max-width: 50em;
}

.tab-content img {
    width: calc((100% - 1em) / 2);
    margin-left: 1em;
    margin-bottom: 1em;
}

.btn-projects {
    background-color: #F9A826;;
    padding: 10px 24px;
    width: 12rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    font-size: 1.4rem;
    text-align: center;
    box-shadow: 0px 3px 20px 1px rgba(0,0,0,0.15);
}

.btn-projects a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}


/* responsive */
@media (max-width: 800px) {
    .tab-content {
        flex-direction: column;
    }

    .tab-content img {
        width: 100%;
    }
}